<div class="inicio-container">
    <div class="contact__container">
        <a class="contact-whatsapp__link" href="https://wa.me/5491158774447" class="contact-link" target="_blank" title="Whastapp">
            <span class="contact-whatsapp__image">whatasapp</span>
        </a>
    </div>

    <div class="banner-funko__container">
        <img class="banner-funko" src="img/funko-pop/funko-pop-banner.jpg" alt="funko banner">
    </div>
    <section class="section-cards">
        <header class="section-cards__header">
            <h1 class="section-cards__title">¡Bienvenidos a Juguetería Cosmica!</h1>
            <p class="section-cards__slogan">Descubrí nuestra colección de Funko Pop y Star Wars
            </p>
        </header>

        <div class="cards-container">
        </div>

        <footer class="section-cards__footer">
            <fieldset class="footer-newsletter">
                <h3 class="footer-newsletter__title">Conocé nuestras novedades</h3>
                <div class="footer-newsletter__input-container">
                    <label for="newsletter-input">
                        <input id="newsletter-input" class="footer-newsletter__client-email" type="email" name="newsletter-client-email" placeholder="Ingresa tu mail">
                    </label>
                    <input class="footer-newsletter__btn" type="button" value="Suscribite" title="Suscribite a novedades">
                </div>
                <p>Recibí nuestras promociones y beneficios exclusivos para clientes.</p>
            </fieldset>
        </footer>

    </section>
</div>

