<div class="main-presentation__container">
    <div class="main-presentation">
        <h1 class="main-presentation__title">¡ Hola soy Bren!</h1>
        <h2 class="main-presentation__sub-title">
            <img class="presentation-image" src="img/nosotros-img/nosotros-image.png" alt="nosotros imagen">
        </h2>
        <div class="main-presentation__description">
            <p>Bienvenidos a mi primer proyecto E-commerce!</p>
            <p>Empecé este año en el Bootcamp de <a target="_blank" href="https://www.educacionit.com/bootcamp-full-stack">Educacion IT</a> y a partir de ese momento no solo aprendí a programar, sino que descrubrí otra manera de vincularme con la disciplina del estudio, a pasar horas haciéndolo sin darme cuenta, fines de semanas completos sentada frente a la computadora enfrentando cada desafío, con momentos de frustración pero también de alegría y satisfaccion cuando las cosas por fin salen!.</p>
            <p>A la par también estoy por recibirme de Técnica en Recursos Humanos y como tal siempre hago foco en la importancia de trabajar en equipo, algo que se encuentra muy arraigado dentro el mundo de la programación y que me gusta mucho; con el pair-programming conocí a mis compañeros, aprendí mucho de aquellos que tenian más experiencia y fije mis conocimientos cuando era a mi a quien le tocaba explicar algo.</p>
            <p>Sin dudas este bootcamp es solo el comienzo de un camino que pienso seguir recorriendo con entusiasmo y ganas de aprender cada vez más!</p>
        </div>
    </div>
</div>
